---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/navbar"
import Header from "@components/Header";
import Tecnologies from "@components/Tecnologies.astro";
import Stack from "@components/Stack.astro";
import InfoAbout from "@components/info";
---

<Layout title="Portfolio | Luis Rincon.">
	<section class="relative w-full overflow-hidden">
		<Navbar client:visible />
		<Header client:visible />
		<Tecnologies />
	</section>
	<section class="bg-white">
		<Stack />
	</section>
	<section>
		<InfoAbout client:visible />
	</section>
</Layout>

<style>
	:root {}
</style>