<div class="bg-white" id="projects">
  <div class="min-h-screen grid place-content-center md:place-items-start">
    <span class='block tracking-widest text-gray-400 uppercase md:mx-6 mx-14  pt-28 text-xl'>#projects
    </span>
    <h2 class='md:mx-6 mx-14  text-4xl font-black xl:text-5xl text-justify mb-10 mt-5 hover:border-b-black'>
        Some <span class='text-transparent bg-clip-text bg-blue-800'>projects 
        </span> i have done to date
    </h2>

    <div class="grid grid-cols-1 xl:grid-cols-3 lg:grid-cols-2 mx-auto gap-y-10 gap-x-10">
      <article
        class="max-w-sm max-h-[30rem] mt-4 mb-4 bg-cover bg-center min-h-100 transform duration-500 cursor-pointer group"
        style="background-image: url(https://images.pexels.com/photos/3325720/pexels-photo-3325720.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);"
      >
        <div
          class="bg-black bg-opacity-0 pointer-events-none min-h-100 px-10 flex flex-wrap flex-col pt-40 hover:bg-opacity-75 group-hover:pointer-events-auto transform duration-300"
        >
          <h1
            class="text-white text-3xl mb-5 transform translate-y-48 group-hover:-translate-y-20 duration-500"
          >
            On A Day Like Today
          </h1>
          <div
            class="w-16 h-2 bg-yellow-500 rounded-full mb-5 transform translate-y-48 group-hover:-translate-y-20 duration-500"
          >
          </div>
          <p
            class="opacity-0 text-white text-xl max-h-[20rem] group-hover:opacity-80 transform ease-in-out duration-500 group-hover:-translate-y-20"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
            beatae! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Maxime, beatae! Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Maxime, beatae!
          </p>
        </div>
      </article>
      <article
        class="mx-auto max-w-sm max-h-[30rem] mt-4 mb-4 bg-cover bg-center min-h-100 transform duration-500 cursor-pointer group"
        style="background-image: url(https://images.pexels.com/photos/3325720/pexels-photo-3325720.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);"
      >
        <div
          class="bg-black bg-opacity-0 pointer-events-none min-h-100 px-10 flex flex-wrap flex-col pt-40 hover:bg-opacity-75 group-hover:pointer-events-auto transform duration-300"
        >
          <h1
            class="text-white text-3xl mb-5 transform translate-y-48 group-hover:-translate-y-20 duration-500"
          >
            On A Day Like Today
          </h1>
          <div
            class="w-16 h-2 bg-yellow-500 rounded-full mb-5 transform translate-y-48 group-hover:-translate-y-20 duration-500"
          >
          </div>
          <p
            class="opacity-0 text-white text-xl max-h-[20rem] group-hover:opacity-80 transform ease-in-out duration-500 group-hover:-translate-y-20"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
            beatae! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Maxime, beatae! Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Maxime, beatae!
          </p>
        </div>
      </article>
      <article
        class="mx-auto max-w-sm max-h-[30rem] mt-4 mb-4 bg-cover bg-center min-h-100 transform duration-500 cursor-pointer group"
        style="background-image: url(https://images.pexels.com/photos/3325720/pexels-photo-3325720.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);"
      >
        <div
          class="bg-black bg-opacity-0 pointer-events-none min-h-100 px-10 flex flex-wrap flex-col pt-40 hover:bg-opacity-75 group-hover:pointer-events-auto transform duration-300"
        >
          <h1
            class="text-white text-3xl mb-5 transform translate-y-48 group-hover:-translate-y-20 duration-500"
          >
            On A Day Like Today
          </h1>
          <div
            class="w-16 h-2 bg-yellow-500 rounded-full mb-5 transform translate-y-48 group-hover:-translate-y-20 duration-500"
          >
          </div>
          <p
            class="opacity-0 text-white text-xl max-h-[20rem] group-hover:opacity-80 transform ease-in-out duration-500 group-hover:-translate-y-20"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
            beatae! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Maxime, beatae! Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Maxime, beatae!
          </p>
        </div>
      </article>
    </div>
  </div>
</div>
