---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/portfolio.png" />
	<title>{title}</title>
</head>

<body>
	<slot />
</body>

</html>
<style>
	html {
		font-family: system-ui, sans-serif;
	}

	body {
		margin: 0;
		/*background-image: url('../img/bg.gif');
		background-repeat: no-repeat;
		background-size: cover;*/
		background-color: #002B5B;
	}
</style>